* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

header {
  padding: 96px 24px 64px 24px;
}

.intro-chunk {
  max-width: 415px;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
}

p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  color: #009966;
  font-weight: 800;
}

main {
  padding: 64px 0;
  background-color: #666666;
  border-top: 8px solid #999999;
}

.card {
  padding: 24px;
  margin: 0 -24px;
  background-color: #fff;
  border-bottom: 8px solid #999999;
}

h2 {
  max-width: fit-content;
  margin-top: -16px;
  margin-left: -32px;
  margin-bottom: 1rem;
  
  padding: 16px 32px;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;

  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 800;
}

.card p {
  font-weight: 500;
}
