* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

header {
  padding: 96px 24px 64px 24px;
}

header .max-width-wrapper {
  max-width: 752px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 415px;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
}

p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

strong {
  color: #009966;
  font-weight: 800;
}

main {
  padding: 64px 0 64px 0;
  background-color: #666666;
  border-top: 8px solid #999999;
}

section.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  padding: 8px 24px;
  background-color: #FFF;
  border-bottom: 8px solid #999999;

}

h2 {
  max-width: fit-content;
  margin-left: -32px;
  margin-bottom: 1rem;
  padding: 16px 32px;
  background-color: #FFBF00;
  border-bottom: 8px solid #CC9900; 

  font-size: 1.5rem;
  font-weight: 800;
}

.card p {
  font-weight: 500;
}
